@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

input {
  background-color: #ffffff80;
  height: 1.35rem;
  border: solid #ffffff80 2px;
  border-radius: 8px;
}

.App {
  text-align: center;
}

.button {
  margin: 0 1rem 0 0;
  z-index: 1000;
  color: white;
  background-color: rgb(48, 128, 255, 255);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.ui-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 100;
  max-height: 500px;
  animation-name: fade-in;
  animation-duration: 0.2s;
}

.login-ui-button-group {
  margin-top: 1rem;
}

.update-btn {
  position: relative;
  top: 1rem;
}

.login-and-update-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 264px;
  margin-top: 2rem;
}

.logout-section {
  animation-name: fade-in;
  animation-duration: 0.2s;
}

.sidebar-ui {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #ffffff80;
  z-index: 100;
  padding: 2rem;
  max-width: 500px;
  /* border-right: 4px solid green; */
}

.drawer-tab {
  position: relative;
  top: -2rem;
  color: black;
  background-color: #ffffff80;
  padding: 1rem;
  cursor: pointer;
}

.open-drawer {
  width: 230px;
  transition: all 0.2s ease-in-out;
}

.close-drawer {
  width: 0px;
  transition: all 0.2s ease-in-out;
}

.point-arrow-left {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.point-arrow-right {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.container-left {
  left: 10.95rem;
  border-radius: 0 0 0.5rem 0;
  transition: all 0.2s ease-in-out;
}

.container-right {
  left: 0rem;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 1.3rem;
  transition: all 0.2s ease-in-out;
}

.login-ui--group {
  display:flex;
  margin-top: 2rem;
}

.long-lat-search-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.coord-input,
.long-lat-search-group label {
  max-width: 60px;
}

.long-lat-search-group label {
  margin-right: 1rem;
}

.btn-input-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.go-btn {
  max-height: 1.5rem;
  margin-left: 0.5rem;
}

.tooltip {
  padding: 1rem;
  margin: 0;
  max-width: 200px;
  border: solid #ffffff80 2px;
  border-radius: 8px;
  background-color: #00000080;
}

ul li {
  list-style-type: none;
}

.station-info input {
  max-width: 2rem;
  color: white;
  background: black;
}

.station-info {
  color: white;
  text-align: left;
  border: solid #ffffff80 2px;
  border-radius: 8px;
  background-color: #000000;
  padding: 1rem;
  margin: 0;
  width: 82%;
}

.update-station-section {
  animation-name: fade-in;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

