.App {
  text-align: center;
}

.login-button {
  position: absolute;
  top: 10rem;
  left: 0rem;
  z-index: 1000;
}

.register-button {
  position: absolute;
  top: 10rem;
  left: 5rem;
  z-index: 1000;
}

.logout-button {
  position: absolute;
  top: 10rem;
  left: 10rem;
  z-index: 1000;
}

.login-form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1000;
  background-color: antiquewhite;
}